{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "rules": {
    "indent": ["warn", 2],
    "no-tabs": "warn",
    "keyword-spacing": "warn",
    "block-spacing": "warn",
    "comma-spacing": "warn",
    "arrow-spacing": "warn",
    "space-infix-ops": "warn",
    "comma-style": "warn",
    "func-call-spacing":"warn",
    "no-mixed-operators": "error",
    "no-unused-vars": ["warn", { "vars": "local", "args": "none" }],
    "object-curly-spacing": ["warn", "always"],
    "space-before-blocks": "warn",
    "semi": "warn",
    "semi-spacing": "warn",
    "key-spacing": "warn",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-multi-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    "strict": "warn",
    "prefer-const": "warn"
  }
}
